<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viktor Frankl</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
<h1>About</h1>
<h3 class="title-work">Viktor Frankl</h3>


    <p>
      Viktor Emil Frankl (26 March 1905 – 2 September 1997) was a
      Jewish-Austrian psychiatrist who founded logotherapy, a school of
      psychotherapy that describes a search for a life's meaning as the central
      human motivational force. Logotherapy is part of existential and
      humanistic psychology theories. Logotherapy was promoted as the third
      school of Viennese Psychotherapy, after those established by Sigmund
      Freud, and Alfred Adler. Frankl published 39 books. He was a Holocaust
      survivor. The autobiographical Man's Search for Meaning, a best-selling
      book, is based on his experiences in various Nazi concentration camps.
    </p>
  </body>
</html>
