<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>Works</h1>
    <h2 class="title-work">Psychiatry</h2>
    <p>
      Between 1928 and 1930, while still a medical student, he organized youth
      counselling centers[13] to address the high number of teen suicides
      occurring around the time of end of the year report cards. The program was
      sponsored by the city of Vienna and free of charge to the students. Frankl
      recruited other psychologists for the center, including Charlotte Bühler,
      Erwin Wexberg, and Rudolf Dreikurs. In 1931, not a single Viennese student
      died by suicide.[14][unreliable source?] After earning his M.D. in 1930,
      Frankl gained extensive experience at Steinhof Psychiatric Hospital, where
      he was responsible for the treatment of suicidal women. In 1937, he began
      a private practice, but the Nazi annexation of Austria in 1938 limited his
      opportunity to treat patients.[1] In 1940, he joined Rothschild Hospital,
      the only hospital in Vienna still admitting Jews, as head of the neurology
      department. Prior to his deportation to the concentration camps, he helped
      numerous patients avoid the Nazi euthanasia program that targeted the
      mentally disabled.[6][15] In 1942, just nine months after his marriage,
      Frankl and his family were sent to the Theresienstadt concentration camp.
      His father died there of starvation and pneumonia. In 1944, Frankl and the
      surviving members of his family were transported to Auschwitz, where his
      mother and brother were murdered in the gas chambers. His wife died later
      of typhus in Bergen-Belsen. Frankl spent three years in four concentration
      camps.[7] Following the war, he became head of the neurology department of
      the Vienna Polyclinic Hospital, and established a private practice in his
      home. He worked with patients until his retirement in 1970.[6] In 1948,
      Frankl earned a PhD in philosophy from the University of Vienna. His
      dissertation, The Unconscious God, examines the relationship between
      psychology and religion,[16] and advocates for the use of the Socratic
      dialogue (self-discovery discourse) for clients to get in touch with their
      spiritual unconscious.[17] Grave of Viktor Frankl in Vienna In 1955,
      Frankl was awarded a professorship of neurology and psychiatry at the
      University of Vienna, and, as visiting professor, lectured at Harvard
      University (1961), Southern Methodist University, Dallas (1966), and
      Duquesne University, Pittsburgh (1972).[12] Throughout his career, Frankl
      argued that the reductionist tendencies of early psychotherapeutic
      approaches dehumanised the patient, and advocated for a rehumanisation of
      psychotherapy.[18] The American Psychiatric Association awarded Frankl the
      1985 Oskar Pfister Award for his contributions to religion and
      psychiatry.[18]
    </p>

    <h2 class="title-work">Man's Search for Meaning</h2>

    <p>
      While head of the Neurological Department at the general Polyclinic
      Hospital, Frankl wrote Man’s Search for Meaning over a nine-day
      period.[19] The book, originally titled A Psychologist Experiences the
      Concentration Camp, was released in German in 1946. The English
      translation of Man's Search for Meaning was published in 1959, and became
      an international bestseller.[6] Frankl saw this success as a symptom of
      the "mass neurosis of modern times" since the title promised to deal with
      the question of life's meaningfulness.[20] Millions of copies were sold in
      dozens of languages. In a 1991 survey conducted for the Library of
      Congress and the Book of the Month Club, Man's Search for Meaning was
      named one of the ten most influential books in the US.[21]
    </p>
  </body>
</html>
